.nosotros .msg_final {
  margin-bottom: 0;
  background: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  min-height: 100px;
}

.nosotros .msg_final h3,
.nosotros .msg_final p {
  color: white;
  text-align: center;
}

.nosotros .msg_final h3 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 2rem;
}

.nosotros .msg_final p:last-child {
  margin-bottom: 0;
}

/* MEDIA QUERIES */
@media (min-width: 576px) {
  .nosotros .msg_final {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .nosotros .msg_final h3 {
    font-size: 2.75rem;
  }
}

@media (min-width: 768px) {
  .nosotros .msg_final {
    background: rgb(20, 8, 56);
    background: linear-gradient(
      45deg,
      rgba(20, 8, 56, 1) 0%,
      rgba(5, 190, 212, 1) 100%
    );
  }

  .nosotros .msg_final {
    margin-top: -207px;
    padding-top: 240px;
  }
}

@media (min-width: 992px) {
  .nosotros .msg_final {
    margin-top: -200px;
    padding-top: 225px;
  }
}

@media (min-width: 1200px) {
  .nosotros .msg_final h3 {
    font-size: 3rem;
  }
}

@media (min-width: 1400px) {
}

@media (min-width: 1600px) {
}
