.home .faja_experiencia .content_gradient {
  padding-left: 0;
  padding-right: 0;
}

.home .faja_experiencia .gradient {
  height: 10px;
  background: var(--quarter-color)
}

.home .faja_experiencia .faja {
  background: rgb(20,8,56);
  background: linear-gradient(90deg, rgba(20,8,56,1) 0%, rgba(14,79,117,1) 72%, rgba(9,146,175,1) 91%, rgba(5,190,212,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  min-height: 100px;
}

.home .faja_experiencia .faja h3 {
  color: white;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 0;
  text-align: center;
}

.home .faja_experiencia .faja span {
  background: white!important;
  width: 2px!important;
  color: white!important;
  margin-left: 5px!important;
  border-radius: 30%!important;
  margin-bottom: 4px!important;
}

.home .faja_experiencia .faja .content_frase {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .faja_experiencia .hashtag_xm {
  display: none;
}





/* MEDIA QUERIES */
@media (min-width: 576px) {

  .home .faja_experiencia .faja {
    padding-top: 40px;
    padding-bottom: 40px;
    min-height: 130px;
  }

  .home .faja_experiencia .faja h3 {
    font-size: 2.5rem;
  }

  .home .faja_experiencia .faja span {
    margin-bottom: 0 !important;
    height: 24px!important;
  }

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

  .home .tracking .content_tracking {
    background-position: 50% 25%!important;
    height: 625px!important;
    margin-bottom: 140px;
  }

  .home .faja_experiencia {
    padding-bottom: 60px;
  }

  .home .faja_experiencia .hashtag_xm {
    display: inline-block;
    position: absolute;
    bottom: -75px;
    left: calc(50% - 650px);
    max-width: 1300px;
  }

  .home .faja_experiencia .faja {
    min-height: 150px;
    margin-bottom: 30px;
  }

  .home .faja_experiencia .faja h3 {
    font-size: 3.5rem;
  }

  .home .faja_experiencia .faja span {
    height: 30px!important;
  }

  .home .tracking .tablet {
    max-width: 575px!important;
    top: -50px!important;
  }

}

@media (min-width: 1600px) {

}