.contacto header {
  position: relative;
  background-color: black;
  height: 82vh;
  width: 100%;
  background-image: url('/img/contacto/header-contacto.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -5vh;
}

.contacto header h1 {
  margin-bottom: 0;
  color: white;
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
  text-shadow: 2px 2px 4px #000000;
}

.contacto header .form-control {
  background-color: transparent;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  color: white;
}

.contacto header .form-control:focus {
  border-color: white;
  box-shadow: none;
}

.contacto header .form-control::placeholder {
  color: white;
}

.contacto header button {
  background-color: transparent;
  float: right;
  border: none;
  font-size: 1.125rem;
}

.contacto header button:hover {
  background-color: transparent;
  color: var(--quarter-color);
}

/* MEDIA QUERIES */
@media (min-width: 576px) {
  .contacto header h1 {
    font-size: 2.5rem;
  }
}

@media (min-width: 768px) {
  .contacto header h1 {
    font-size: 3rem;
  }
}

@media (min-width: 992px) {
  .contacto header h1 {
    font-size: 3.5rem;
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}

@media (min-width: 1600px) {
}
