.nosotros .background_img {
  height: 10vh;
  background-size: cover;
  background-position: center;
  width: 100%;
  overflow: hidden;
  background-image: url('./../../../img/nosotros/container-sin-frase.jpg');
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  text-align: center;
}




/* MEDIA QUERIES */
@media (min-width: 576px) {

  .nosotros .background_img {
    height: 20vh;
  }

}

@media (min-width: 768px) {

  .nosotros .background_img {
    height: 50vh;
  }

  .nosotros .background_img {
    margin-bottom: 12px;
  }

}

@media (min-width: 992px) {

  .nosotros .background_img {
    height: 70vh;
    margin-bottom: 0;
  }

}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}

@media (min-width: 1600px) {

}