.content_all_form {
  position: relative;
}

.content_all_form .sweet-loading span:first-child {
  top: 50%!important; 
}

.formulario {
  margin-bottom: 60px;
}

.formulario h2 {
  font-size: 2rem!important;
  font-weight: 700;
  text-align: center!important;
  color: var(--secondary-color);
  margin-bottom: 20px;
}

.formulario .form-control {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  color: var(--quarter-color);
  border: 1px solid var(--quarter-color)
}

.formulario .form-control::placeholder {
  color: var(--quarter-color);
}

.formulario .form-control:focus {
  box-shadow: none;
}

.formulario .btn-primary {
  background: transparent;
  color: var(--quarter-color);
  float: right;
  border-color: transparent;
  font-size: 1.25rem;
}

.formulario .btn-primary:hover {
  color: var(--secondary-color);
}




/* MEDIA QUERIES */
@media (min-width: 576px) {

  .formulario h2 {
    font-size: 3rem!important;
  }

  .formulario .btn-primary {
    font-size: 1.5rem;
  }

}

@media (min-width: 768px) {

  .formulario {
    margin-bottom: 0;
  }

  .formulario h2 {
    font-size: 2.5rem!important;
  }

}

@media (min-width: 992px) {

  .formulario h2 {
    font-size: 3rem!important;
    margin-bottom: 30px!important;
  }

}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}

@media (min-width: 1600px) {

}