/* Variables */
:root {
  --primary-color: rgba(34, 51, 110, 1);
  --secondary-color: rgba(20, 8, 56, 1);
  --third-color: rgba(65, 7, 116, 1);
  --quarter-color: rgba(5, 190, 212, 1);
}
/* Variables end */
