.soluciones .caracteristicas {
  position: relative;
  margin-bottom: -45px;
  z-index: 1;
}

.soluciones .caracteristicas .content {
  text-align: center;
  margin-bottom: 60px;
}

.soluciones .caracteristicas .content:last-child {
  margin-bottom: 0;
}

.soluciones .caracteristicas .content img {
  margin-bottom: 15px;
}

.soluciones .caracteristicas .content h2 {
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 2rem;
}

.soluciones .caracteristicas .flecha_abajo {
  max-width: 80px;
}






/* MEDIA QUERIES */
@media (min-width: 576px) {

}

@media (min-width: 768px) {

  .soluciones .caracteristicas .fill {
    background: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

  .soluciones .caracteristicas {
    margin-bottom: -140px;
  }

  .soluciones .caracteristicas .content_data {
    position: relative;
    bottom: -80px;
  }

  .soluciones .caracteristicas .flecha_abajo {
    position: relative;
    bottom: -35px;
  }

}

@media (min-width: 992px) {

  .soluciones .caracteristicas .content_data {
    margin-top: -50px;
  }

}

@media (min-width: 1200px) {

  .soluciones .caracteristicas .flecha_abajo {
    max-width: 150px;
    left: 60px;
    bottom: -55px;
  }

}

@media (min-width: 1400px) {
  
}

@media (min-width: 1600px) {

}