.navigator {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--secondary-color);
  z-index: 2;
}

.navigator .content_brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navigator .content_brand img {
  max-width: 50%;
}

.navigator .content_brand .btn_menu {
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

.navigator .content_mobile {
  padding: 0;
}

.navigator .content_mobile nav {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: -100%;
}

.navigator .content_mobile nav a {
  color: var(--quarter-color);
  font-size: 3rem;
  display: inline-block;
}

.navigator .content_mobile nav a.active {
  color: white;
}

.navigator .content_mobile nav a:hover {
  transform: translateX(5px);
  -webkit-transform: translateX(5px);
  -moz-transform: translateX(5px);
  -ms-transform: translateX(5px);
  -o-transform: translateX(5px);
  color: white;
}

.navigator .content_mobile nav.open {
  left: 0;
}

/* MEDIA QUERIES */
@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .navigator {
    position: relative;
  }

  .navigator.fixed {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    background: var(--quarter-color);
  }

  .navigator.fixed .content_brand img {
    max-width: 130px;
  }

  .navigator .content_brand .btn_menu {
    display: none;
  }

  .navigator {
    background: rgb(0, 0, 0);
    background: linear-gradient(
      -180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  .navigator .content_brand {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .navigator .content_brand img {
    max-width: 100%;
  }

  .navigator .content_mobile {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .navigator .content_mobile nav {
    position: relative;
    width: 100%;
    height: auto;
    background: transparent;
    left: inherit;
  }

  .navigator .content_mobile nav ul {
    width: 100%;
    margin-bottom: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .navigator .content_mobile nav ul a {
    color: white;
    font-size: 1.25rem;
    font-weight: 700;
    margin-right: 30px;
  }

  .navigator .content_mobile nav ul li:last-child a {
    margin-right: 0;
  }

  .navigator .content_mobile nav a.active {
    color: var(--quarter-color);
  }

  .navigator .content_mobile nav a:hover {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    color: var(--quarter-color);
  }

  .navigator.fixed .content_mobile nav a.active {
    color: black;
  }

  .navigator.fixed .content_mobile nav a:hover {
    color: black;
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}

@media (min-width: 1600px) {
}
