.iconos {
  padding-top: 30px;
  padding-bottom: 75px;
}

.iconos .content_icon {
  text-align: center;
}

.iconos .content_icon h4 {
  margin-top: 10px;
  font-size: 0.85rem;
  font-weight: 400;
}

.iconos .content_icon h4 br {
  display: none;
}





/* MEDIA QUERIES */
@media (min-width: 576px) {

  .iconos {
    padding-top: 40px;
    padding-bottom: 75px;
  }

  .iconos .content_icon h4 {
    font-size: 1rem;
    font-weight: 700;
  }

}

@media (min-width: 768px) {

  .iconos {
    padding-bottom: 40px;
  }

}

@media (min-width: 992px) {
  
  .iconos .content_icon h4 {
    font-size: 1.25rem;
  }

  .iconos .content_icon h4 br {
    display: inline-block;
  }

}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}

@media (min-width: 1600px) {

}